#ion-content {
    --background: #f4f4f4; /* Color de fondo del contenido */
    font-family: 'Calibri', sans-serif; /* Fuente principal */
    font-size: 16px; /* Tamaño de fuente predeterminado */
}