.boton{
    --background: #e4b312;
    --background-hover: #9ce0be;
    --background-activated: #dee4ab;
    --background-focused: #c8de05;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 15px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
}
#menucolor{
    
    color: #e4b312;
    
}
#menucolor1{
    margin-left: 25%;
    color: #e4b312;
    
}

#botongod{
    margin-top: 25px;
    max-width: 50%;
    margin-left: 25%;
    text-align: center;
    
}
#titulo{
    text-align: center;
    color: #e4b312;
}
.titulo {
    text-align: center;
    font-family: 'titulo', sans-serif;
    --color: #e4b312;
  }


  .texto {
    font-family: 'texto', serif;
  }